{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Personal Bootstrap Template</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="{% static 'assets/img/favicon.png' %}" rel="icon" />
    <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon" />

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet" />

    <!-- Vendor CSS Files -->
    <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet" />

    <!--     =======================================================
  * Template Name: Personal
  * Updated: Jan 29 2024 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/personal-free-resume-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ========================================================     -->
  </head>

  <body>
    <!-- ======= Header ======= -->
    <header id="header">
      <div class="container">
        <h1><a href="{% url 'mysite:home' %}">{{ name }} {{ lastname }}</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="mr-auto"><img src="{% static 'assets/img/logo.png' %}" alt="" class="img-fluid"></a> -->
        <h2>I am a <span>{{ profession }}</span> from {{ city }}</h2>
        <nav id="navbar" class="navbar">
          <ul>
            <li>
              <a class="nav-link active" href="#header">Home</a>
            </li>
            <li>
              <a class="nav-link" href="#languages">languages</a>
            </li>
            <li>
              <a class="nav-link" href="#resume">Resume</a>
            </li>
            <li>
              <a class="nav-link" href="#Abilities">Abilities</a>
            </li>
            <li>
              <a class="nav-link" href="#contact">About and contact</a>
            </li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
        <!-- .navbar -->

        <div class="social-links">
          <a href="https://t.me/{{ telegram }}" class="telegram"><i class="bi bi-telegram"></i></a>
          <a href="https://github.com/{{ github }}/" class="github"><i class="bi bi-github"></i></a>
          <a href="https://www.instagram.com/{{ instagram }}/" class="instagram"><i class="bi bi-instagram"></i></a>
        </div>
      </div>
    </header>
    <!-- End Header -->
    {%block content%}

    {%endblock%}